
#name, #pwd{
	width: 40%;
}

input {
	padding: 10px 15px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: "JetBrains Mono";
}

input[type=text], [type=password]{
  color: rgb(0, 0, 0);
  border: 2px solid rgb(66, 66, 66);
  border-radius: 4px;
}
input[type=text]:focus {
  border: 2px solid #000000;
	border-radius: 4px;
}
input[type=password]:focus {
  border: 2px solid #000000;
	border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
  border: none;
  color: rgb(0, 0, 0);
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
	border: 2px solid rgb(66, 66, 66);;
	border-radius: 4px;
  transition-duration: 0.4s;
}

input[type=reset]:hover {
  color: rgb(58, 0, 0);

  background-color: rgb(206, 40, 40);
  border: 2px solid rgb(102, 20, 20);

  font-weight: 700;
}

input[type=submit]:hover {
  color: rgb(0, 54, 24);

  background-color: rgb(9, 226, 107);
  border: 2px solid rgb(23, 109, 62);

  font-weight: 700;
}